html {
  min-width: 345px; 
  max-width: 100%;
}
body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 3fr auto auto;
  margin: 0 auto;
  background-color: #ffd449;
}
/* header */
header {
  width: 100%;
  background-color: #548c2f;
  padding: 0.5em;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "h1 h2 h2 h2 h3";
  position: fixed;
  top: 0;
  text-align: center;
  box-shadow: 0 3px 5px rgba(15, 26, 0, 0.5); 
  border-radius: 0 0 10px 10px;
}
h1 {
  grid-area: h1;
  /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
  
}
h2 {
  grid-area: h2;
  /* gradient */
  background-image: linear-gradient(to right, #FF6D60 40%, #F7D060);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#box2, #box3, #box4 {
  grid-column: 2 / span 3;
  text-align: center;
}
#box2 {
  grid-row: 3 / 4;
  font-size: 1.5em;
  font-weight: bold;
}
#box3 {
  grid-row: 5 / 6;
}
#box4 {
  grid-row: 6 / 7;
  text-align: left;
  word-wrap: break-word;
}
#box5 {
  grid-row: 7 / 8; 
  grid-column: 5 / 6;
}

#box5 a {
  text-decoration: none;
  color: white;
}
/* upload box */
#uploadBox {
  border: 3px dotted black;
  padding: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-radius: 25px;
}

.space, .space2 {
  /* border: 1px solid black; */
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #A8D5E2;
}
.space2 {
  background-color: #F9a620;
}

.key {
  font-size: 18px;
  font-weight: bold;
}
.value {
  color: white;
}
.black {
  color: black;
}
.acgt {
  color: orange;
}

#hidden-input {
  visibility: hidden;
}
/* file button */
input[type="file"] {
  display: none; 
}
/* Style the custom button to look like the "Choose File" button */
.custom-file-upload {
  cursor: pointer;
}

/* Style the button when hovering over it */
.custom-file-upload:hover, button:hover {
  background-color: #104911;
}


/* Style the file input's label to resemble a button */
button, label[for="file"] {
  display: inline-block;
  padding: 1em 2em;
  background-color: #548c2f;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1em;
  box-shadow: 0 2px 1px rgba(15, 26, 0, 0.3); 
}

/* buttons */
button {
  margin-top: 1em;
  border: none;
}

.red {
  color: red;
}