html {
  min-width: 300px; 
  max-width: 100%;
}
body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 0.25fr 0.25fr 0.25fr 3fr auto;
  margin: 0 auto;
  background-color: #F3E99F;
}
/* header */
header {
  width: 100%;
  background-color: #98D8AA;
  padding: 0.5em;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "h1 h2 h2 h2 h3";
  position: fixed;
  top: 0;
  text-align: center;
}
h1 {
  grid-area: h1;
  /* background-image: linear-gradient(to left, #553c9a, #b393d3); */
  
}
h2 {
  grid-area: h2;
  /* gradient */
  background-image: linear-gradient(to right, #FF6D60 40%, #F7D060);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#box2, #box3, #box4 {
  grid-column: 2 / span 3;
  text-align: center;
}
#box2 {
  grid-row: 3 / 4;
  font-size: 1.5em;
  font-weight: bold;
}
#box3 {
  grid-row: 5 / 6;
}
#box4 {
  grid-row: 6 / 7;
  text-align: left;
  word-wrap: break-word;
}
/* upload box */
#uploadBox {
  border: 3px dotted black;
  padding: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-radius: 25px;
}

.space {
  border: 1px solid black;
  border-radius: 25px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #FF6D60;
}

.key {
  font-size: 18px;
  font-weight: bold;
}
.value {
  color: white;
}
.black {
  color: black;
}

#hidden-input {
  visibility: hidden;
}
/* file button */
input[type="file"] {
  display: none; 
}
/* Style the custom button to look like the "Choose File" button */
.custom-file-upload {
  display: inline-block;
  background-color: #F7D060;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 1em;
}

/* Style the button when hovering over it */
.custom-file-upload:hover {
  background-color: #FF6D60;
}

/* Style the file input's label to resemble a button */
button, label[for="file"] {
  display: inline-block;
  padding: 1em 2em;
  background-color: #F7D060;
  border-radius: 8px;
  cursor: pointer;
}

/* buttons */
button {
  background-color: #F7D060;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
}

.red {
  color: red;
}